<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-1">
       <h1 class="title">ADS Offer</h1>
       <p class="slogan">ADS 是Architectural design system的简称，是一个提供建筑设计系统相关工作机会的求职网站。
         <br>
         我们希望借由这个网站，为你网罗最优质的业内招聘信息。
         <!-- <br> -->
         希望大家都能在此找到心仪的工作！成就自己的梦想！
       </p>
       <p class="lead">
         <%= link_to '马上应征', jobs_path, class: 'btn btn-primary' %>
       </p>
     </div>
   </div>
 </div>

 <div class="content-section-0">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <!-- <hr class="section-heading-spacer"> -->
         <div class="clearfix"></div>
         <h2 class="section-heading">专业介绍:</h2>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">建筑设计</h2>
         <p class="lead">建筑设计是一门以学习如何设计建筑为主，同时学习相关基础技术课程的学科。主要学习的内容是通过对一块空白场地的分析，同时依据其建筑对房间功能的要求，建筑的类型，建筑建造所用的技术及材料等，对建筑物从平面，外观立面及其内外部空间进行从无到有的设计。</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">结构工程师</h2>
         <p class="lead">是指合理的将建筑物的结构承重体系（包括水平承重体系的楼、屋盖等和竖向承重体系的砌体、柱子、剪力墙等）建立和布置起来，以满足房屋的承载力、安全、稳定和使用等方面的职务和工作。</p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-c">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">给排水工程师</h2>
         <p class="lead">给排水工程师是与住宅、建筑群、城市等的水供给、水排放、水处理等相关联。水是生命之源，城市离不开水，所以也不能离开给排水工程师。中国的水处理率现在只能做到50%，这意味着还有另外50%的城市污水是直接排放的，所以中国需要再增加20%的污水处理能力，这无疑加大对给水排水工程师质量和数量的要求。</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-d">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">电气工程师</h2>
         <p class="lead">这里主要指从事电气专业工程设计及相关业务的专业技术人员。</p>
     </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-4.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-e">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">暖通设计师</h2>
         <p class="lead">掌握水暖工程的专业知识，熟悉土建、电气等系统的相关知识的技术型人员，简单来说就是设计中央空调系统、优化原有中央空调系统、勘察地方选择合适节能方法的工程师。</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-5.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-f">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">园林景观设计师</h2>
         <p class="lead">在传统园林理论的基础上，具有建筑、植物、美学、文学等相关专业知识的人士对自然环境进行有意识改造的思维过程和筹划策略。园林景观设计师是专业进行园林景观设计。</p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-6.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>
